@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  /* Parallax effect */
  background-image: url("https://images.unsplash.com/photo-1593814681464-eef5af2b0628?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

header {
  background-color: #16555d;
  color: #f9f5f1;
  padding: 10px;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
  background-color: rgba(
    249,
    245,
    241,
    0.9
  ); /* Adding a slight transparency to let the background shine through */
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
  color: #2c99a7;
}

section#about p,
section#contact p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 25px; /* Add more spacing at the bottom */
}

a {
  color: #ed8c52;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #16555d;
  color: #2c99a7;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  clear: both;
}

.fade-image {
  width: 250px; /* Constrain width */
  max-width: 100%; /* Ensures responsiveness on smaller screens */
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded edges for aesthetics */
  margin: 20px 0; /* Space above and below the image */
  display: block; /* To center it */
  margin-left: auto;
  margin-right: auto;
}

#toggleExplore {
  background-color: #16555d;
  color: #f9f5f1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute; /* absolute position */
  top: 10px; /* slight margin from the top */
  left: 10px; /* slight margin from the left */
}

#toggleExplore:hover {
  background-color: #2c99a7;
}

.swiper-container {
  width: 100%; /* or any width you'd like, can be fixed value like 600px */
  height: 300px; /* adjust this based on your preference */
  margin: 0 auto; /* centers the carousel horizontally if it's less than 100% width */
  overflow: hidden;
}

.swiper-slide {
  display: flex; /* centers the image inside the slide */
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: auto; /* maintain original image width */
  max-width: 100%; /* ensure image doesn't exceed slide/container width */
  height: auto; /* maintain original image height */
  max-height: 100%; /* ensure image doesn't exceed slide/container height */
}

.swiper-pagination-bullet-active {
  background: #2c99a7; /* Color for the active bullet */
}
.swiper-pagination-bullet {
  width: 8px; /* Adjust size of the bullet */
  height: 8px;
  background: #16555d; /* Color of bullet */
}

.main-container {
  max-width: 1200px; /* Adjust based on your preference */
  margin: 0 auto; /* This centers the container */
  padding: 0 20px; /* Adds some space on the sides for smaller screens */
}


@media all and (min-width:481px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 60px;
  }
}

@media all and (min-width:769px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 75px;
  }
}
